    <nav class="navbar is-fixed-bottom">
      <div class="column has-text-right">
        <p class="is-size-7">A service by <a href="https://icehub.link">icehub</a> --</p>
      </div>
    </nav>
    <script src="/assets/js/app.js"></script>
  </body>
</html>