<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/dribble.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <!--a href="/" class="navbar-item">
        Home
      </a-->

      <a href="/capture" class="navbar-item">
        Capture
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More...
        </a>

        <div class="navbar-dropdown">
          <a href="/about" class="navbar-item">
            About
          </a>
          <a href="/docs" class="navbar-item">
            Docs
          </a>
          <hr class="navbar-divider">
          <a href="https://github.com/liebsen/wkhtmltoimage" class="navbar-item" target="_blank">
            Github
          </a>
          <a href="https://github.com/liebsen/wkhtmltoimage/issues" class="navbar-item" target="_blank">
            Report an issue
          </a>
          <hr class="navbar-divider">
          <a href="mailto:overlemonsoft@gmail.com" class="navbar-item">
            Contact
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="https://icehub.link/signup" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="https://panel.icehub.link" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>