<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-brand-link" href="/">
      <div class="navbar-brand-img">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="333px" height="379px" viewBox="0 0 3330 3790" preserveAspectRatio="xMidYMid meet">
        <g id="layer1" stroke="none">
         <path d="M1236 3672 c-3 -6 12 -333 34 -728 22 -395 38 -720 35 -722 -6 -6 24 -95 -236 708 -122 377 -226 691 -232 698 -11 14 -73 16 -82 2 -4 -6 109 -381 250 -834 l256 -824 -3 -86 -3 -85 -130 89 c-71 50 -134 90 -139 90 -6 0 -24 -14 -42 -31 l-31 -30 -201 128 -201 128 -27 63 c-22 51 -34 67 -65 82 -21 11 -45 20 -53 20 -13 0 -146 -214 -146 -235 0 -4 14 -31 32 -58 l32 -50 62 6 c52 5 64 3 79 -13 9 -10 90 -60 180 -112 l163 -93 -5 -60 -5 -61 373 -280 c323 -242 400 -294 568 -388 l193 -109 -7 -62 -6 -61 93 -80 c128 -110 675 -434 733 -434 8 0 47 15 87 34 74 34 78 38 226 207 l31 36 15 264 c9 145 16 271 16 281 0 24 -200 147 -476 292 -132 69 -244 126 -248 126 -4 0 -30 -19 -57 -42 l-49 -41 -313 152 c-171 83 -316 151 -322 151 -5 0 -23 -11 -39 -25 l-29 -23 -49 41 c-30 25 -48 47 -45 57 2 8 181 426 397 928 423 983 404 931 338 947 -21 5 -30 2 -42 -17 -9 -13 -171 -345 -361 -738 -191 -393 -350 -719 -355 -724 -15 -15 -18 37 -49 778 -17 396 -34 723 -39 728 -13 13 -99 21 -106 10z m1713 -2641 c40 -48 41 -51 41 -124 0 -51 -11 -122 -35 -223 -35 -143 -38 -150 -91 -220 -73 -96 -116 -125 -169 -117 -72 10 -98 35 -138 125 -23 55 -37 106 -41 150 -6 66 -5 69 43 165 30 60 79 133 125 188 71 86 77 90 123 96 99 12 98 12 142 -40z"/>
         <path d="M386 1102 c-3 -5 -10 -43 -16 -83 -6 -41 -14 -76 -18 -80 -4 -3 -36 -14 -72 -24 -113 -32 -113 -44 3 -86 l72 -26 5 -69 c6 -79 11 -81 72 -33 l38 31 59 -36 c32 -20 64 -36 70 -36 25 0 21 32 -9 86 l-33 56 64 64 c81 82 75 91 -51 71 l-92 -14 -10 26 c-5 14 -19 51 -30 81 -22 60 -42 88 -52 72z"/>
         </g>
        </svg>
      </div>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start has-text-weight-bold">
      <!--a href="/" class="navbar-item">
        Home
      </a-->

      <a href="/capture" class="navbar-item">
        Capture
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More...
        </a>

        <div class="navbar-dropdown">
          <a href="/about" class="navbar-item">
            About
          </a>
          <a href="/docs" class="navbar-item">
            Docs
          </a>
          <hr class="navbar-divider">
          <a href="https://github.com/liebsen/wkhtmltoimage" class="navbar-item" target="_blank">
            Github
          </a>
          <a href="https://github.com/liebsen/wkhtmltoimage/issues" class="navbar-item" target="_blank">
            Report an issue
          </a>
          <hr class="navbar-divider">
          <a href="mailto:overlemonsoft@gmail.com" class="navbar-item">
            Contact
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="https://icehub.link/signup" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="https://panel.icehub.link" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>