[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5 animated fadeIn">
            <h1 class="title">
              About <i>this</i> project
            </h1>
            <div class="content">
              <p>This project started recently in order to provide more functionality to our services and its part of icehub initiative.</p>
              <br>

              <p>We are currently working on our account platform in order to help you orginize with api keys and <i>processed data enrichment</i></p>
              <br>

              <p>Please to do not relay on us for saving your images because we can not guarantee you that. We are making this for fun, while its fun the projects continues; please do not expect us to serve this project for ever.</p>
              <br>
              <p>This project is being maintained by one person If you want to be part of this project <a href="/contact#Wanna+be+part+of+captures">just let me know</a>, I always feel better with professional partnership.</p>

              <p>If you have any questions please consider contactung us at overlemonsoft (at) gmail.com</p>
              <hr class="navbar-divider">
              <a href="/contact" class="button is-info">
                Contact Us
              </a>
            </div>
          </div>
          <div class="column">
            <div class="capture-img animated delay2 skewInDesktop" style="background-image: url(/assets/images/flat-captures.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/capture.js"></script>
  </section>
[?- include ('./partials/footer') ?]