[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <h1 class="title">
              About <i>this</i> project
            </h1>
            <div class="content">
              <p>This project started recently in order to provide more functionality to our services and its part of icehub initiative.</p>
              <br>
              <p>Please to do not relay on us for saving your images because we can not guarantee you that. We are making this for fun, while its fun the projects continues; please do not expect us to serve this project for ever.</p>
              <br>
              <p>This project is no meant to be object of further development and / or maintained in the future.</p>
            </div>
          </div>
          <div class="column">
            <div class="capture-img"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/capture.js"></script>
  </section>
[?- include ('./partials/footer') ?]