[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title">
              html<i>to</i>image API v1.0.0
            </h1>
            <div class="field has-addons space-evenly">
              <input class="input has-border-right-square" type="text" id="capture_url" placeholder="https://mysite.com"/>
              <div class="control">
                <button onclick="capture()" class="button is-success send-btn">
                  Capture
                </button>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="control capture-container">
              <div class="capture-img animated skewInDesktop"></div>
              <img id="img_loader" src="" class="is-hidden" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/capture.js"></script>
  </section>
[?- include ('./partials/footer') ?]