[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5 animated fadeIn">
            <h1 class="title">
              Docs<i></i>
            </h1>
            <div class="content">
              <p>This project is no meant to be object of further development and / or maintained in the future.</p>
            </div>

            <div class="tabs is-boxed">
              <ul>
                <li class="is-active">
                  <a href="#scheme">
                    <span class="has-text-weight-semibold">Scheme</span>
                  </a>
                </li>
                <li>
                  <a href="#curl">
                    <span class="has-text-weight-semibold">CURL</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="tab-block scheme">
              <pre class="shadow has-background-white"<span class="tag is-success">POST</span>

https://captures.icehub.link/capture 

data: { 
  url: https://captures.icehub.link
}

res: {
  success: true,
  url: 'https://captures.icehub.link',
  uuid: 'a0b9e588-1cfb-4687-a598-e2cb8d6d0d6b'
}
</pre>
            </div>
            <div class="tab-block curl">
              <pre class="shadow has-background-white"><span class="tag is-success">CURL</span>

curl 'https://captures.icehub.link/capture' -X POST -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:100.0) Gecko/20100101 Firefox/100.0' -H 'Accept: application/json' -H 'Accept-Language: es-AR,es;q=0.8,en-US;q=0.5,en;q=0.3' -H 'Accept-Encoding: gzip, deflate, br' -H 'Referer: https://captures.icehub.link/capture' -H 'Content-Type: application/json' -H 'Origin: https://captures.icehub.link' -H 'Connection: keep-alive' -H 'Sec-Fetch-Dest: empty' -H 'Sec-Fetch-Mode: cors' -H 'Sec-Fetch-Site: same-origin' --data-raw '{"url":"https://captures.icehub.link"}'</pre>
            </div>
          </div>
          <div class="column">
            <div class="capture-img animated skewInDesktop" style="background-image: url(/assets/images/flat-captures.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/tabs.js"></script>
  </section>
[?- include ('./partials/footer') ?]