[?- include ('./partials/functions') ?]
[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title">
              [?= extractFQD(data.url) ?]
            </h1>
            <div class="notification is-white has-text-weight-bold shadow">
              <a href="[?= data.url ?]" target="_blank">
                [?= data.url ?]
              </a><br>
              [? if (data.country.length) { ?]
              [?= data.country ?] [?= data.region ?] [?= data.city ?]
              <br>
              [? } ?]
              [?= data.created ?]  
            </div>
            <div class="buttons is-centered">
              <a href="/images" class="button is-large is-white">
                <span class="has-text-weight-bold">↖ </span>
              </a>
              <a href="#" class="button is-large is-success" onclick="copyClipboard('[?= data.url ?]')">
                <span class="has-text-weight-bold">Share</span>
              </a>
              <a href="/capture" class="button is-large is-info">
                <span class="has-text-weight-bold">
                  <span class="mdi mdi-creation"></span>
                </span>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="control capture-container is-loading">
              <a href="[?= data.url ?]" target="_blank">
                <div class="capture-img animated"></div>
                <img id="img_loader" class="is-hidden" src="/captures/[?= data.uuid ?].jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <script src="/assets/js/functions.js"></script>
    <script src="/assets/js/image.js"></script>
  </section>
[?- include ('./partials/footer') ?]