[?- include ('./partials/functions') ?]
[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          [? for (var i in items) { ?]
          <li class="splide__slide">
            <a href="/[?= items[i].uuid ?]">
              <div class="capture-img is-carousel" style="background-image: url(/captures/[?= encoderURI(`${items[i].uuid}.jpg`) ?])">
                <div class="capture-data">
                  <span class="tag is-rounded">[?= extractFQD(items[i].url) ?]</span>
                [? if (items[i].country.length) { ?]
                  <span class="tag is-rounded">[?= items[i].country ?] [?= items[i].region ?] [?= items[i].city ?]</span>
                [? } ?]
                </div>
              </div>
            </a>                
          </li>
          [? } ?]
        </ul>
      </div>
    </section>        
    <script src="/assets/js/splide.min.js"></script>
    <script src="/assets/js/splide.js"></script>
  </section>
[?- include('./partials/footer') ?]