[?- include ('./partials/functions') ?]
[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">  
          html<i>to</i>image API v1.0.0
        </h1>
        <div class="columns is-multiline">
          [? for (var i in files) { ?]
          <div class="column is-6 is-4-desktop is-3-widescreen">
            <a href="[?= files[i].url ?]" target="_blank">
              <div class="capture-img is-small" style="background-image: url(/captures/[?= encoderURI(files[i].uuid) ?])">
                <span class="tag is-rounded">[?= files[i].url ?]</span>
              </div>
            </a>
          </div>
          [? } ?]
        </div>
      </div>
    </div>
  </section>
[?- include('./partials/footer') ?]