[?- include ('./partials/functions') ?]
[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero is-rainbow">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <h1 class="title has-text-white">
              html<i>to</i>image API v1.0.0
            </h1>
            <div class="content has-text-white">
              <p>Welcome to Captures a simple Application Programming Interface for printing website. If you are a developer please check Github is on the menu.</p>
              <p>The future of the internet depends on us all</p>
              <div class="buttons is-centered">
                <a href="/images" class="button is-info">
                  <span class="has-text-weight-bold">See images</span>
                </a>
                <a href="/capture" class="button is-success">
                  <span class="has-text-weight-bold">Capture</span>
                </a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="capture-img" style="background-image: url(/assets/images/flat-captures.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
[?- include('./partials/footer') ?]