[?- include ('./partials/header') ?]
[?- include ('./partials/navbar') ?]
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <h1 class="title">
              404 <i>not</i> found
            </h1>
            <div class="notification is-light">
              <p>Unfortunately we could not found what you are looking for.</p>
            </div>
            <div class="buttons is-centered">
              <a href="/contact" class="button is-danger">
                <span class="has-text-weight-bold">↖ Contact administrator</span>
              </a>
            </div>            
          </div>
          <div class="column">
            <div class="capture-img animated skewInDesktop" style="background-image: url(/assets/images/flat-captures.jpg)"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/capture.js"></script>
  </section>
[?- include ('./partials/footer') ?]