body {
  font-family: 'Poppins', sans-serif;
}
.hero {
  padding-bottom: 3rem;
}
.navbar-brand .navbar-item:nth-child(1) {
  min-width: 8rem;
}

.navbar-item img {
  position: absolute;
  top: 0.25rem;
  max-height: 4.25rem;
  max-width: 4.25rem;
}
.is-navbar-footer {
  background-color: transparent;
  min-height: 0.25rem;
}
.space-evenly {
  justify-content: space-evenly!important;
}
.has-border-right-square {
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}