body {
  font-family: 'Poppins', sans-serif;
}
.hero {
  padding-bottom: 3rem;
}
.navbar {
  min-height: 4rem;
}
.navbar-brand .navbar-item:nth-child(1) {
  min-width: 5rem;
}
.navbar-item img {
  max-height: 3rem;
  max-width: 3rem;
}
.is-navbar-footer {
  background-color: transparent;
  min-height: 0.25rem;
}
.space-evenly {
  justify-content: space-evenly!important;
}
.has-border-right-square {
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}