html, body {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 3.25rem;
}

pre {
  white-space: break-spaces;
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 3px 3px 0 rgba(50, 50, 50, 0.1);
}

.hero {
  background-color: whitesmoke;
  padding-bottom: 3rem;
}

.navbar-brand-link svg {
  position: absolute;
  left: -1rem;
  padding: 1rem;
  border-radius: 100%;
  background-color: whitesmoke;
  height: 5rem;
  width: 5rem;  
}

.navbar-brand-link svg path {
  fill: #0679e4;
  transition: all 0.25s ease;
}

.navbar-brand-link {
  min-width: 8rem;
}

.navbar-brand-link.has-background-light {
  background-color: transparent!important;
}
.navbar-brand-link.has-background-light svg {
  background-color: #0679e4;
}
.navbar-brand-link.has-background-light svg path {
  fill: white;
}

.is-navbar-footer {
  background-color: transparent;
  min-height: 0.25rem;
}
.space-evenly {
  justify-content: space-evenly!important;
}
.has-border-right-square {
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;
}